
{{#if feature.feature}}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <img class="img-responsive" src={{feature.image}} alt="Feature Story Image">
    </div>
  </div>
</div>
{{/if}}
