
  <div class="col-sm-4">
    <div class="preview-photo">
      <img class="img-responsive" src={{story.image}} alt="Story Photo">
    </div>
    <div class="story-details">
      <h4>{{story.headline}}</h4>
      <h5>By <span>{{story.author}}</span></h5>
    </div>
  </div>
