<div class="container-fluid side-nav no-padding">
  <div class="top-level no-padding">
  <img class="close-icon" src="http://downloadicons.net/sites/default/files/multiply-icon-27981.png" alt="Close">
    <ul>
      <li>{{#link-to 'index'}}HOME{{/link-to}}</li>
      <li>{{#link-to }}FOOD{{/link-to}}</li>
      <li>{{#link-to }}HISTORY{{/link-to}}</li>
      <li>{{#link-to }}TELEVISION{{/link-to}}</li>
      <li>{{#link-to }}MUSIC{{/link-to}}</li>
    </ul>
  </div>
  <div class="bottom-level">
    <ul>
      <li>{{#link-to }}ABOUT US{{/link-to}}</li>
      <li>{{#link-to }}ADVERTISE{{/link-to}}</li>
      <li>{{#link-to }}APPS{{/link-to}}</li>
      <li>{{#link-to }}LABS{{/link-to}}</li>
      <li>{{#link-to }}CONTACT{{/link-to}}</li>
    </ul>
    <div class="social-row">
      <ul id="side-social">
        <li>FOLLOW US</li>
        <li><img src="http://simpleicon.com/wp-content/uploads/facebook.png" alt="facebook link" class="social-icon"></li>
        <li><img src="http://wfarm2.dataknet.com/static/resources/icons/set12/67a6bfe516a8.png" alt="twitter link" class="social-icon"></li>
        <li><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/33-pinterest-512.png" alt="pinterest link" class="social-icon"></li>
        <li><img src="https://5a5a57ff32a328601212-ee0df397c56b146e91fe14be42fa361d.ssl.cf1.rackcdn.com/icon/instagram_logos_glyph/03H5cHNMt-Jni4pe9u+7/glyph-logo_May2016_200.png" alt="instagram link" class="social-icon"></li>
      </ul>
    </div>
  </div>
</div>
