body {
  background-color: #eee;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
}

.fluid-row {
  background-color: tomato;
  border-bottom: 1px solid black;
}

.nav-row {
  display: flex;
  justify-content: space-between;
}

.nav-row h3 {
  display: inline-block;
  position: relative;
  left: 80px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  color: black;
  transform: rotate(12deg);
}

.nav-row h3:hover {
  cursor: pointer;
  opacity: .5;
}

.hamburger {
  align-self: flex-start;
}

.hamburger img {
  display: inline-block;
  height: 75px;
}

.hamburger img:hover {
  cursor: pointer;
  opacity: .5;
}

.social-icon {
  height: 25px;
}

.social-icon:hover {
  cursor: pointer;
  opacity: .5;
}

ul#nav-social {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

ul#nav-social li {
  display: inline-block;
  padding: 0 5px;
}

.preview-photo img {
  margin: 0 auto;
  height: 150px;
  width: 300px;
}

.preview-row {
  margin-top: 50px;
  padding: 0;
}

.story-details {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  position: relative;
  top: -35px;
}

.story-details h5 span {
  color: tomato;
}

.feature-row {
  margin-top: 50px;
}

.feature-details:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 6px;
  background: linear-gradient(135deg, tomato, yellow);
  top: -6px;
  left: 0;
}

.feature-details {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  margin: 0 auto;
  width: 750px;
  position: relative;
  top: -35px;
  padding: 25px 200px;
}

.feature-details h5 span {
  color: tomato;
}

.story-img img {
  margin: 0 auto;
}

.headline span {
  display: inline;
  background-image: linear-gradient(to bottom, transparent 0, yellow 0);
  background-repeat: no-repeat;
  -webkit-box-decoration-break: clone;
  background-size: 100% 1em;
  background-position: 0 center;
  line-height: 1;
  padding-left: 13px;
  padding-right: 13px;
}

.headline h1 {
  position: relative;
  top: 35px;
  z-index: 100;
}

.button-row {
  margin:  25px 0;
}

.button-row button {
  background-color: blue;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 50px;
  height: 35px;
  width: 135px;
}

.fb {
  position: relative;
  right: 15px;
  height: 30px;
}

.no-padding {
  padding: 0;
}

.side-nav {
  height: 100vh;
  width: 300px;
  background: linear-gradient(to bottom, tomato, yellow );
  color: black;
  z-index: 1000;
  position: absolute;
  box-shadow: 0 0 50px rgba(50,50,50,.8);
}

.top-level ul li a,
.bottom-level ul li a {
  color: black;
  font-weight: bold;
}

.top-level ul li,
.bottom-level ul li {
  list-style-type: none;
  padding: 25px 0;
}

.top-level ul,
.bottom-level ul {
  padding: 0 15px;
}

.top-level ul li {
  text-align: right;
}

.close-icon {
  height: 40px;
  position: relative;
  top: 15px;
  left: 15px;
}

.top-level {
  background-color: rgba(255,255,255, .25);
}



ul#side-social {
  display: block;
  margin-top: 20px;
  width: 100%;
  float: right;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul#side-social li {
  display: inline-block;
  padding: 0 5px;
}

.social-row li:nth-child(1) {
  font-style: italic;
  margin-right: 15px;

}
