.fluid-row {
  background-color: tomato;
  border-bottom: 1px solid black;
}

.nav-row {
  display: flex;
  justify-content: space-between;
}

.nav-row h3 {
  display: inline-block;
  position: relative;
  left: 80px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  color: black;
  transform: rotate(12deg);
}

.nav-row h3:hover {
  cursor: pointer;
  opacity: .5;
}

.hamburger {
  align-self: flex-start;
}

.hamburger img {
  display: inline-block;
  height: 75px;
}

.hamburger img:hover {
  cursor: pointer;
  opacity: .5;
}

.social-icon {
  height: 25px;
}

.social-icon:hover {
  cursor: pointer;
  opacity: .5;
}

ul#nav-social {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

ul#nav-social li {
  display: inline-block;
  padding: 0 5px;
}

.preview-photo img {
  margin: 0 auto;
  height: 150px;
  width: 300px;
}

.preview-row {
  margin-top: 50px;
  padding: 0;

}

.story-details {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  position: relative;
  top: -35px;
}

.story-details h5 span {
  color: tomato;
}

.feature-row {
  margin-top: 50px;
}

.feature-details:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 6px;
  background: linear-gradient(135deg, tomato, yellow);
  top: -6px;
  left: 0;
}

.feature-details {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  margin: 0 auto;
  width: 750px;
  position: relative;
  top: -35px;
  padding: 25px 200px;
  /*border-top: 8px solid tomato;*/
  /*border-image: linear-gradient(to right, blue, tomato)) 1 100%;*/
  /*background-image: -webkit-gradient(linear, left top, right top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));)*/
}

.feature-details h5 span {
  color: tomato;
}
