<div class="row preview-row">
  {{#each model.stories as |story|}}
    {{preview-tile story=story}}
  {{/each}}
</div>

{{#each model.features as |feature|}}
  {{feature-story feature=feature}}
{{/each}}
